# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean package'
    options: '-Dmaven.test.skip=true'
- task: AmazonWebServices.aws-vsts-tools.AWSCLI.AWSCLI@1
  displayName: 'AWS Deploy'
  inputs:
    awsCredentials: aws
    awsCommand: 'aws deploy create-deployment \     --application-name umbookings-backend \     --deployment-group-name umbookings-backend-deployment-group \     --github-location repository=umapps/Booking-Backend,commitId=ddd2f907c58e7f902674315aa6dee76ac3b6bf9b'
    failOnStandardError: false

- publish: $(System.DefaultWorkingDirectory)/target/umbookings-backend-0.0.1-SNAPSHOT.jar
  artifact: umbookings-backend-0.0.1-SNAPSHOT.jar

- task: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload@1
  displayName: 'S3Upload'
  inputs:
    awsCredentials: aws
    regionName: 'us-east-1'
    bucketName: 'artifactbucket-umbooking'
    sourceFolder: '$(System.DefaultWorkingDirectory)/target'
    globExpressions: '*.jar'
    filesAcl: 'public-read-write'
    createBucket: true





