# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean package'
    options: '-Dmaven.test.skip=true'

- task: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload@1
  displayName: 'S3Upload'
  inputs:
    awsCredentials: aws
    regionName: 'us-east-1'
    bucketName: umbookingbucket
    filesAcl: 'public-read-write'
    createBucket: true


- publish: $(System.DefaultWorkingDirectory)/target/umbookings-backend-0.0.1-SNAPSHOT.jar
  artifact: umbookings-backend-0.0.1-SNAPSHOT.jar

